<div class="container">
<h1>Add New Vehicle</h1>

<div class="nb">NB: reg_number format [CA, CY, CF, CAA followed by 3 numbers - 3 numbers]</div>

{{#if messages.error}}
<div class="flash-error">
    {{messages.error}}
</div>
{{/if}}

{{#if messages.success}}
<div class="flash-success">
    {{messages.success}}
</div>
{{/if}}


<form action="/vehicle" method="post">
    <label for="description">Description: </label><input id="description" type="text" name="description"/>
    <label for="regNumber">Reg_Number: </label><input id="regNumber" type="text" name="regNumber" />
    <button type="submit">Add Vehicle</button>
</form>

<h2>Refuel </h2>
<p class="message">{{messages.fuel}}</p>
<form action="/refuel" method="post">

<label for="id">Vehicle Id: </label>
<select name="id">
    {{#each ids}}
    <option>{{this.id}}</option>
    {{/each}}
</select>

<label for="liters">Liters: </label><input id="liters" type="number" name="liters"/>

<label for="amount">Amount: </label><input id="amount" type="number" name="amount"/>

<label for="distance">Distance: </label><input id="distance" type="number" name="distance"/>

<select name="filled">
    <option>Yes</option>
    <option>No</option>
</select>
<button type="submit">Refuel</button>
</form>
<form action="/vehicles" method="get">
<div class="vvehicles">
<button type="submit" id="redirect">View Vehicles</button>
</div>
</form>
</div>

<script>
    // error messages display for 3seconds
    let errorMessageElem = document.querySelector('.flash-error')
  
    setTimeout(()=>{
      errorMessageElem.style.display = 'none'

    },3000)
//scuccess messages display for 3.5 seconds
let successMessageElem = document.querySelector('.flash-success')

    setTimeout(()=>{
      successMessageElem.style.display = 'none'

    }, 3000)


  </script>
