<div class="container1">

<h1>ALL VEHICLES</h1>
<div class="table">
<table>
    <th>Description</th>
    <th>Reg_Number</th>
    {{#each vehicles}}
    <tr>
        <td>
            {{this.description}}
        </td>
          <td>
            {{this.reg_number}}
        </td>
    </tr>
    {{/each}}
</table>
</div>

</div>