body {
    font-family: Arial, sans-serif;
    background-color: #8B8589;
    font-size: larger;
}

.screen {
    display: none;
}

/* Add styling as needed */

.container{
    background-color:#C0C0C0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 150px;
}

.vvehicles{
    margin-top: 15px;
}

.avehicles{
    margin-right: 1100px;
    margin-top: 50px;
}

.flash-success{
    color:#56d303;
    text-align: center !important;
  }
  .flash-error{
    color:#f8261f;
    text-align: center !important;
  }

  .nb{
    margin-bottom: 30px;
    color: red;
    font-style: italic;
  }

  .table{
    margin-left: 530px !important;
    /* margin-right: auto !important; */
  }
  .container1{
    text-align: center;
    background-color:#C0C0C0;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }