body {
    font-family: Arial, sans-serif;
    background-color: #8B8589;
}

.screen {
    display: none;
}

/* Add styling as needed */

.container{
    background-color:#C0C0C0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 150px;
}